<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="default">
<head>
	<title>Dodaj przedmiot</title>
</head>
<body>
<section layout:fragment="content" class="container">
	<p th:text="${successMessage}"></p>
	<form th:action="@{/admin/subject/add}" th:object="${subject}" method="post" class="form-horizontal form"
	      role="form">
		<div class="form-group">
			<div class="col-sm-9">
				<label class="formLabel">Przedmiot:</label>
				<input type="text" th:field="${subject.name}" name="name"
				       placeholder="Podaj nazwę przedmiotu" class="form-control" required/>
			</div>
			<div class="col-sm-9">
				<button type="submit" class="btn btn-primary confirm-button">Dodaj przedmiot</button>
			</div>
		</div>
	</form>
</section>
</body>
</html>