<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="default">
<head>
    <title>lista userów</title>
</head>
<body>
<section layout:fragment="content">
    <table class="table">
        <thead>
        <tr>
            <th> Imię</th>
            <th> Nazwisko</th>
            <th> E-mail</th>
            <th> Rola</th>
            <th> Zmień</th>
            <th> Usuń</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td><span th:text="${user.name}"> Title </span></td>
            <td><span th:text="${user.lastname}"> Author </span></td>
            <td><span th:text="${user.email}">Email</span></td>
            <td><span th:text="${#strings.substring(user.role,5)} ">Rola</span></td>
            <td>
                <form th:object="${user}" th:action="@{/admin/user/edit/{id}(id=${user.id})}" th:method="edit"><a
                        href="#"
                        onclick="$(this).closest('form').submit()"><i
                        class="fas fa-user-edit"></i></a></form>
            </td>
            <td><a th:href="@{/admin/user/edit/{id}(id=${user.id})}"><i class="fas fa-user-times"></i></a></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>