<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" layout:decorator="default">
<head>
    <title>lista userów</title>
    <script>
        function checkChange($this) {
            var value = $this.val();

            var sv = $this.data("stored");

            if (value != sv)
                $this.trigger("simpleChange");

        }

        $(document).ready(function () {
            $(this).data("stored", $(this).val());
            $("input").bind("keyup", function (e) {
                checkChange($(this));
            });

            $("#pass").bind("simpleChange", function (e) {
                document.getElementById("pass_monitor").checked = true;
            });

        });
    </script>

</head>

<body>
<section layout:fragment="content" class="container">
    <form th:action="@{/admin/user/edit/{id}(id=${user[0].id})}" th:object="${user}" method="post"
          class="form-horizontal form"
          role="form">
	    <div class="form-group">
		    <h1 class="formLabel">Zmień dane użytkownika:</h1>
		    <div class="col-sm-9">
			    <label>Imię: </label><input type="text" th:value="${user[0].name}" name="name" placeholder="name"
			                                class="form-control">
		    </div>
		    <div class="col-sm-9">
			    <label>Nazwisko: </label><input type="text" th:value="${user[0].lastname}" name="lastname"
			                                    placeholder="lastname" class="form-control">
		    </div>
		    <div class="col-sm-9">
			    <label>E-mail: </label><input type="text" th:value="${user[0].email}" name="email" placeholder="email"
			                                  class="form-control">
		    </div>
		    <div class="col-sm-9">
			    <label>Rola:</label>
			    <select name="role" class="form-control">
				    <option value="ROLE_student" th:text="Student"
				            th:selected="${user[0].role == 'ROLE_student'}"></option>
				    <option value="ROLE_teacher" th:text="Nauczyciel"
				            th:selected="${user[0].role == 'ROLE_teacher'}"></option>
				    <option value="ROLE_admin" th:text="Admin" th:selected="${user[0].role == 'ROLE_admin'}"></option>
			    </select>
		    </div>
		    <div class="col-sm-9">
			    <label>Hasło:</label><input type="password" id="pass" th:value="${user[0].password}" name="password"
			                                class="form-control">
		    </div>
		    <div class="col-sm-9">
			    <button type="submit" class="btn btn-primary confirm-button">Zapisz</button>
		    </div>
		    <input type="checkbox" th:name="pass_change" id="pass_monitor" class="hidden">
	    </div>
    </form>

</section>

</body>
</html>