<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="default">
<head>
	<title>Lista studentów</title>
</head>
<body>
<section layout:fragment="content" class="container">
	<table class="table">
		<thead>
		<tr>
			<th> Imię</th>
			<th> Nazwisko</th>
			<th> E-mail</th>
			<th> Rola</th>
			<th> Dodaj ocenę</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="user : ${users}">
			<td><span th:text="${user.name}"> Title </span></td>
			<td><span th:text="${user.lastname}"> Author </span></td>
			<td><span th:text="${user.email}">Email</span></td>
			<td><span th:text="${#strings.substring(user.role,5)} ">Rola</span></td>
			<td><a th:href="@{/teacher/studentGrade/add/{id}(id=${user.id})}"><i class="fas fa-user-plus icon"></i></a>
			</td>
		</tr>
		</tbody>
	</table>
</section>
</body>
</html>