.menu-btn {
    width: 75px;
    background-image: linear-gradient(to right, #E55D87 0%, #5FC3E4 51%, #E55D87 100%);
    color: white;
}

.menu-btn:hover {
    background-image: linear-gradient(to right, #DAE2F8 0%, #D6A4A4 51%, #DAE2F8 100%);
}

.logo {
    text-align: center;
    height: 18%;
}

.logo img {
    height: 25%;
    width: 25%;
    margin-top: -10px;
}

body {
    background-color: blue;
}
