<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav">
                <li class="nav-item logo">
                    <img src="/images/logo.png" alt="">
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <button type="button" class="btn btn-outline-warning menu-btn">jakas</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        <button type="button" class="btn btn-outline-warning menu-btn">pozycja</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/test">
                        <button type="button" class="btn btn-outline-warning menu-btn">test</button>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/student">
                        <button type="button" class="btn btn-outline-warning menu-btn">studenci</button>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</body>