<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="default">
<head>
<title>test layoutu</title>
</head>
<body>
<nav></nav>
<section layout:fragment="content" class="container">
	<div class="calendar">
		<iframe src="https://calendar.google.com/calendar/embed?src=bpfk72aldb2no8pivo57u1agjc%40group.calendar.google.com&ctz=Europe%2FWarsaw"
		        style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
	</div>
</section>
</body>
</html>